// Bootstrap brand color customization

/*     brand Colors              */

$color-primary: #3f51b5;
$color-secondary: #e63226;
$color-pale: #ede09c;
$color-mid: #dafeb9;
$color-dark: #1a1444;
$color-black-transparent: rgba(0,0,0,0.5);

$primary:              $color-primary !default;
$info:                 $cyan-500 !default;
$success:              $color-mid !default;
$warning:              $color-pale !default;
$danger:               $color-secondary !default;
$rose:                 $color-secondary !default;
$inverse:              $color-black-transparent;
